[submodule "src/paas-ta-portal-webuser"]
	path = src/paas-ta-portal-webuser
	url = https://github.com/PaaS-TA/PAAS-TA-PORTAL-webuser
	branch = working-en
[submodule "src/paas-ta-portal-webadmin"]
	path = src/paas-ta-portal-webadmin
	url = https://github.com/PaaS-TA/PAAS-TA-PORTAL-webadmin
	branch = working-en
